<h1>Product team compliment giver</h1>
<p class="tagline">They say negative feedback is more useful, but not here ❤️</p>

<h2>You've got...</h2>

<section class="person-panel">
    <img src="<%= @person.image %>" alt=""/>
    <div class="deets">
        <h3><%= @person.name %></h3>
        <p><%= @person.email %></p>
    </div>
</section>
<small>Already given them a compliment? Got yourself? Refresh the page and get someone else.</small>

<h2>Isn't that nice</h2>

<%= form_with model: [@person, @new_compliment], class: "form-panel" do |f| %>
    <div class="field">
        <%= f.label :body, "Write them a nice bio:" %>
        <%= f.text_area :body, required: true %>
    </div>
    <div class="field">
        <%= f.label :attribution, "If you like, tell them who left it:" %>
        <%= f.text_field :attribution %>
    </div>
    <%= f.submit "Brighten their day", class: "button" %>
<% end %>

<h2>Good bios are...</h2>

<ul class="good-bios">
    <li><%= image_tag "unusual.svg" %>Unusual</li>
    <li><%= image_tag "positive.svg" %>Overwhelmingly positive</li>
    <li><%= image_tag "specific.svg" %>Specific</li>
</ul>