<!DOCTYPE html>
<html>
  <head>
    <title>ComplimentGiver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <% if current_person %>
            <%= link_to "My compliments", me_path %>
          <% else %>
            <%= link_to "Sign in to start getting compliments!", person_google_oauth2_omniauth_authorize_path %>
          <% end %>
      </nav>
    </header>
    <%= yield %>
    <footer>Jaye made this, and apologises</footer>
  </body>
</html>
